table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 13px;
}

table,
th,
td {
    border: 1px solid black;
    border: 1px solid #dddddd;
    text-align: left;
    white-space: pre-wrap;
    padding: 8px;
}

.bodycontainer {
    padding: 8px;
}